<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>


<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>
<%=link_to "sign up",new_user_registration_path %>
<%=link_to "Log in",new_user_session_path %>
